@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes */
@keyframes loader-text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0);
  }
}

@keyframes loader-ball {
  0% {
    width: 16px;
    transform: translateX(0);
  }
  40% {
    width: 100%;
    transform: translateX(0);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 16px;
    transform: translateX(0);
  }
}

@keyframes loader-ball-inner {
  0% {
    transform: translateX(0);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
    width: 16px;
  }
}

/* Loader styles */
.loader-ball {
    position: absolute;
    bottom: 0;
    height: 16px;
    width: 16px;
    border-radius: 9999px;
    transform: translateX(64px);
    animation: loader-ball 3.5s ease both infinite;
  }
  

.loader-ball::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #d1c2ff;
  border-radius: inherit;
  animation: loader-ball-inner 3.5s ease both infinite;
}

.animate-loader-text {
  animation: loader-text 3.5s ease both infinite;
}
